schemas/ss/ags_schema_project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SiteInvestigation" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="SiteInvestigation">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="projects">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Proj" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="holes" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Hole" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="holeInformation" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Bkfl" type="xs:string" minOccurs="0" />
                                      <xs:element name="Cdia" type="xs:string" minOccurs="0" />
                                      <xs:element name="Chis" type="xs:string" minOccurs="0" />
                                      <xs:element name="Drem" type="xs:string" minOccurs="0" />
                                      <xs:element name="Flsh" type="xs:string" minOccurs="0" />
                                      <xs:element name="Hdia" type="xs:string" minOccurs="0" />
                                      <xs:element name="Hdph" type="xs:string" minOccurs="0" />
                                      <xs:element name="Ptim" type="xs:string" minOccurs="0" />
                                      <xs:element name="Samp" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="LaboratoryTesting" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Chlk" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Clss" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Cnmt" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Frst" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Grad" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Ptst" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Reld" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Rock" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Suct" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Tnpc" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Cbrg" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="cbrResults" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Cbrt" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Cmpg" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="comResults" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Cmpt" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Cong" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="conResults" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Cons" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Mcvg" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="mcvResults" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Mcvt" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Shbg" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="shbResults" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Shbt" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Trig" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="triResults" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Trix" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="monitoring" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Trem" type="xs:string" minOccurs="0" />
                                      <xs:element name="Hpgi" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="hpgResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Hpgo" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Inst" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="insResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Iobs" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Monp" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="monResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Icct" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Monr" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Pref" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="preResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Pobs" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Prof" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="proResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Prob" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="fieldTesting" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Icbr" type="xs:string" minOccurs="0" />
                                      <xs:element name="Iden" type="xs:string" minOccurs="0" />
                                      <xs:element name="Ifid" type="xs:string" minOccurs="0" />
                                      <xs:element name="Ipid" type="xs:string" minOccurs="0" />
                                      <xs:element name="Iprm" type="xs:string" minOccurs="0" />
                                      <xs:element name="Irdx" type="xs:string" minOccurs="0" />
                                      <xs:element name="Ires" type="xs:string" minOccurs="0" />
                                      <xs:element name="Ivan" type="xs:string" minOccurs="0" />
                                      <xs:element name="Ispt" type="xs:string" minOccurs="0" />
                                      <xs:element name="Pump" type="xs:string" minOccurs="0" />
                                      <xs:element name="Stcn" type="xs:string" minOccurs="0" />
                                      <xs:element name="Dprg" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="dprResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Dprb" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Prtg" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="prtResults" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Prtd" type="xs:string" minOccurs="0" />
                                                  <xs:element name="Prtl" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="groundInformation" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Core" type="xs:string" minOccurs="0" />
                                      <xs:element name="Detl" type="xs:string" minOccurs="0" />
                                      <xs:element name="Disc" type="xs:string" minOccurs="0" />
                                      <xs:element name="Geol" type="xs:string" minOccurs="0" />
                                      <xs:element name="Frac" type="xs:string" minOccurs="0" />
                                      <xs:element name="Weth" type="xs:string" minOccurs="0" />
                                      <xs:element name="Wstk" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>